# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env
*.egg-info/

# Project
data/raw/*
!data/raw/.gitkeep
data/db/*
!data/db/.gitkeep
data/*.db
data/*.sqlite
data/*.sqlite3

# Logs
*.log
logs/
.envrc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# LLM models (local)
models/

# Virtual Environments
venv_radar/
